<div class="left-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generate">Generate</a></li>
        <li><a href="/keyword-tool">Keyword Management</a></li>
        <li><a href="/seo-management">SEO Management</a></li>
        <li><a href="/template">Template</a></li>
        <li><a href="/amazon">Amazon</a></li>
        <li><a href="/aliexpress">AliExpress</a></li>
        <li class="last-li"><a href="./spin">Spin Content</a></li>
    </ul>
</div>
