<html>
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="main">
    <% include ../partials/left-menu %>
    <div class="container">
        <div class="header-story"><h2>Home</h2></div>
        <div class="body">
            <h3>แนะนำวิธีการใช้งาน</h3>
            <p>Script สำหรับปั่น Clickbank สามารถExport เป็นไฟล์XML สำหรับWordpressและBloggerได้</p>
        </div>
    </div>
</div>
</body>
</html>
