<html>
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="main">
    <% include ../partials/left-menu %>
    <div class="container">
        <div class="header-story"><h2>Spin Content</h2></div>
        <div class="body">
            <form action="./spin/spin" method="POST" target="_blank">
                <div class="form">
                    <div class="form-group">
                        <label>Content</label>
                        <textarea rows="15" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit" class="bt-md" formtarget="_blank">Spin</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
